nav {
  background-color: white;
  border-bottom: 3px solid black;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  float: right;
}

nav ul li a {
  padding: 1em;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
