<footer>
  <nav>
    <blockquote>
      <p>
        We may throw the dice,
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;but the Lord determines how they fall.
      </p>
      <footer>
        <cite>
          <a href="https://www.biblegateway.com/passage/?search=proverbs+16%3A33&version=NLT" target="_blank">Proverbs 16:33</a>
        </cite>
      </footer>
    </blockquote>

    <div id="socialicons"> 
      <a href="https://www.instagram.com/wycliffedan/">
        <img src="/images/instagram-logo.png" class="socialmedia" alt="Instagram Icon" >
      </a>
      <a href="https://www.youtube.com/channel/UCRhXAG_A-lu9rXCwY_eEWnA"> <img src="/images/youtube_social_icon_dark.png" alt="" class="socialmedia">
      </a>
      <a href="https://github.com/whatdandoes"> <img src="/images/GitHub-Mark-64px.png" alt="" class="socialmedia">
      </a>
    </div>
  </nav>
</footer>
