<div class="hero-image">
  <div class="hero-text">
    <h1>Daniel Bidulock</h1>
    <h2>Web Developer and Wycliffe Bible Translator</h2>
    <%- partial('_partial/cta-button') %>
  </div>
</div>


<div id="video-container">
  <iframe id="video" src="https://www.youtube.com/embed/8JXPUIFjXwo" allowfullscreen></iframe>
</div>

