<div class="hero-image">
  <div class="hero-text">
    <h1>Daniel Bidulock</h1>
    <h2>Web Developer and Wycliffe Bible Translator</h2>
    <%- partial('_partial/cta-button') %>
  </div>
</div>
<<<<<<< HEAD
<div id="mainvid">
<iframe id="video" src="https://www.youtube.com/embed/8JXPUIFjXwo" allowfullscreen></iframe>
</div>
=======


<div id="video-container">
  <iframe id="video" src="https://www.youtube.com/embed/8JXPUIFjXwo" allowfullscreen></iframe>
</div>

>>>>>>> 82de4e6ff9cfbe77bb6e5fb0ab3eb0a128e7ab89
