<a name="grid"></a> 
<article class="wrapper">
  <!-- 250 -->
  <section title="Brock & Merry Jo">
    <!-- Brock and Merry Jo -->
    <div class="amount">
      $25
    </div>
    <div class="x">
      X
    </div>
  </section>
  <section title="Peter Friesen">
    <!-- Peter Friesen -->
    <div class="amount">
      $25
    </div>
    <div class="x">
      X
    </div>
  </section>
  <section title="Christian & Karen">
    <!-- C & K Falkenberg-Andersen, one time, 2018-9-4 -->
    <div class="amount">
      $25
    </div>
    <div class="x">
      X
    </div>
  </section>
  <section title="Art & Linda">
    <!-- Art and Linda Zoethout -->
    <div class="amount">
      $25
    </div>
    <div class="x">
      X
    </div>
  </section>
  <section title="Evan S.">
    <!-- Evan Sandercock, one time 2019-2-1 -->
    <div class="amount">
      $25
    </div>
    <div class="x">
      X
    </div>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="25" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$25</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="25" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$25</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="25" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$25</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="25" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$25</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="25" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$25</button>
    </form>
  </section>

  <!-- 375 -->
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="25" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$25</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="25" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$25</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="25" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$25</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="25" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$25</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="25" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$25</button>
    </form>
  </section>
  <section title="Ben & Flora">
    <!-- Ben and Flora -->
    <div class="amount">
      $50
    </div>
    <div class="x">
      X
    </div>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="50" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$50</button>
    </form>
  </section>
  <section title="Brenda">
    <!-- Brenda Taylor, $550 one time, 2018-11-1 -->
    <div class="amount">
      $50
    </div>
    <div class="x">
      X
    </div>
  </section>
  <section title="Horst & Barbara">
    <!-- Horst & Barbara Aechtner, $400 one time, 2018-9-4, $150 one time, 2018-12-31 -->
    <div class="amount">
      $50
    </div>
    <div class="x">
      X
    </div>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="50" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$50</button>
    </form>
  </section>

  <!-- 500 -->
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="50" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$50</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="50" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$50</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="50" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$50</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="50" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$50</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="50" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$50</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="50" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$50</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="50" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$50</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="50" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$50</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="50" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$50</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="50" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$50</button>
    </form>
  </section>

  <!-- 625 -->
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="50" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$50</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="50" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$50</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="50" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$50</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="50" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$50</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="50" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$50</button>
    </form>
  </section>
  <section title="Bart & Darina">
    <!-- Bart and Darina, one time $1000, 2018-10-4 -->
    <div class="amount">
      $75
    </div>
    <div class="x">
      X
    </div>
  </section>
  <section title="Vaughn and Elain">
    <!-- Vaughn and Elain -->
    <div class="amount">
      $75
    </div>
    <div class="x">
      X
    </div>
  </section>
  <section title="Dave and Cyndy">
    <!-- Dave and Cyndy -->
    <div class="amount">
      $75
    </div>
    <div class="x">
      X
    </div>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="75" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$75</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="75" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$75</button>
    </form>
  </section>

  <!-- 750 -->
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="75" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$75</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="75" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$75</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="75" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$75</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="75" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$75</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="75" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$75</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="75" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$75</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="75" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$75</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="75" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$75</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="75" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$75</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="75" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$75</button>
    </form>
  </section>

  <!-- 1000 -->
  <section title="Daniel & Judy">
    <!-- Dan and Judy Stuehrenber -->
    <div class="amount">
      $100
    </div>
    <div class="x">
      X
    </div>
  </section>
  <section title="Don & Marg">
    <!-- Don & Marg Bowen -->
    <div class="amount">
      $100
    </div>
    <div class="x">
      X
    </div>
  </section>
  <section title="John & Joceyln">
    <!-- John & Joceyln Duerksen, one time $1200, 2018-12-16 -->
    <div class="amount">
      $100
    </div>
    <div class="x">
      X
    </div>
  </section>
  <section title="Garth and Marlene">
    <!-- Garth and Marlene Wagner -->
    <div class="amount">
      $100
    </div>
    <div class="x">
      X
    </div>
  </section>
  <section title="Robyn and Beat">
    <!-- Robyn and Beat -->
    <div class="amount">
      $100
    </div>
    <div class="x">
      X
    </div>
  </section>
  <section title="Bob & Rhonda Osness">
    <div class="amount">
      $100
    </div>
    <div class="x">
      X
    </div>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="100" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$100</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="100" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$100</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="100" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$100</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="100" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$100</button>
    </form>
  </section>

  <!-- 1250 -->
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="100" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$100</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="100" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$100</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="100" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$100</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="100" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$100</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="125" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$125</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="125" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$125</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="125" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$125</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="125" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$125</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="125" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$125</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="125" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$125</button>
    </form>
  </section>

  <!-- 1500 -->
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="150" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$150</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="150" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$150</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="150" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$150</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="150" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$150</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="150" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$150</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="150" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$150</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="150" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$150</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="150" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$150</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="150" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$150</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="150" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$150</button>
    </form>
  </section>

  <!-- 1750 -->
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="150" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$150</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="150" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$150</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="150" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$150</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="150" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$150</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="150" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$150</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="150" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$150</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="175" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$175</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="175" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$175</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="175" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$175</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="175" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$175</button>
    </form>
  </section>

  <!-- 2000 -->
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="200" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$200</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="200" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$200</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="200" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$200</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="200" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$200</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="200" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$200</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="200" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$200</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="200" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$200</button>
    </form>
  </section>
  <section>
    <form action="https://www.wycliffe.ca/projects/dan-bidulock/"
          enctype="multipart/form-data" method="post">
      <input type="hidden" value="200" name="wpneo_donate_amount_field">
      <input type="hidden" value="2984" name="add-to-cart">
      <button type="submit" class="donate">$200</button>
    </form>
  </section>
  <section title="Wagner Ministries International">
    <!-- Wagner Ministries International, one time $3000, 2018-10-4 -->
    <div class="amount">
      $250
    </div>
    <div class="x">
      X
    </div>
  </section>
  <section title="Saint Peter's Lutheran Church">
    <!-- Saint Peter's, one time $5000, 2018-11-9 -->
    <div class="amount">
      $400
    </div>
    <div class="x">
      X
    </div>
  </section>

</article>

